# 1. Python Basics

[Python](https://www.python.org/) is a general-purpose programming language created by [Guido van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum) in 1991. It is named for the British comedy troupe [Monty Python](https://en.wikipedia.org/wiki/Monty_Python), whom the creator Guido enjoyed while developing the language. Python 2.x was released in 2000 and officially discontinued in 2020. Python 3.x was released in 2008 as a major revision, which is not backward-compatible.

Based on the number of skilled engineers world-wide, courses and third party vendors ([TIOBE index](https://www.tiobe.com/tiobe-index/)), Python is currently ranked 2nd among programming languages, after C but before Java. Based on how often language tutorials are searched on Google ([PYPL Index](http://pypl.github.io/PYPL.html)), Python is currently ranked 1st.

Python supports major programming paradigms including [procedural](https://en.wikipedia.org/wiki/Procedural_programming), [object-oriented](https://en.wikipedia.org/wiki/Object-oriented_programming) and [functional](https://en.wikipedia.org/wiki/Functional_programming) programming. Python is often described as a "batteries included" language due to its comprehensive standard library.

## 1.1 Basic Syntax

First things first:

In [1]:
print("Hello, world!")

Hello, world!

Python is *dynamically typed*, so no need to "declare" a variable and define its type.

In [2]:
number_1 = 10
number_2 = 3.14
sentence = "Hello Python."

[int, float, str]

Python uses *indentation* rather than `{`curly braces`}` to indicate code blocks.

Python uses *indentation* rather than `{`curly braces`}` to indicate code blocks.

In [3]:
if number_1 > 5:
    print(str(number_1) + " is greater than 5")

10 is greater than 5

Basic arithmetics:

| Operator     | Name           | Description                                            |
|--------------|----------------|--------------------------------------------------------|
| ``a + b``    | Addition       | Sum of ``a`` and ``b``                                 |
| ``a - b``    | Subtraction    | Difference of ``a`` and ``b``                          |
| ``a * b``    | Multiplication | Product of ``a`` and ``b``                             |
| ``a / b``    | True division  | Quotient of ``a`` and ``b``                            |
| ``a // b``   | Floor division | Quotient of ``a`` and ``b``, removing fractional parts |
| ``a % b``    | Modulus        | Integer remainder after division of ``a`` by ``b``     |
| ``a ** b``   | Exponentiation | ``a`` raised to the power of ``b``                     |
| ``-a``       | Negation       | The negative of ``a``                                  |
| ``min(a,b)`` | Minimum        | The minimum of ``a`` and ``b``                         |
| ``abs(a)``   | Absolute value | The absolute value of ``a``                            |

### Exercise

In [4]:
pi = 3.14159 # approximate
diameter = 3

# Create a variable called 'radius' equal to half the diameter


# Create a variable called 'area', using the formula for the area of a circle: pi √ó radius^2

In [5]:
# Add parentheses to the following expression so that it evaluates to 1
6 - 3 // 2

5

In [6]:
# Add parentheses to the following expression so that it evaluates to 0
8 - 3 * 2 - 1 + 1

2

## 1.2 Functions

A python function has four components:
1. name
1. arguments (optional)
1. docstring description (optional)
1. return value (optional)

In [7]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers
    among a, b and c.
    
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

In [8]:
least_difference(1, 5, -5)

4

`return` is not necessary, e.g., `print` simply prints something without a return value:

In [9]:
res = print()
res

Functions can have default arguments, e.g., `print` has a `sep` argument that by default is a space.

In [10]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
print(1,2,3)
print(1,2,3, sep=',')

1 2 3
1,2,3

In [12]:
def greet(who='Tim'):
    print("Hello,", who)
greet()

Hello, Tim

In [13]:
greet('Imperial')

Hello, Imperial

### Lambda Functions

A **lambda function** is a small *anonymous* function taking any number of arguments but only one expression. It is useful as an anonymous function inside another function without being defined separately.

In [14]:
print((lambda a, b: a * b)(2,4))

8

The power of lambda functions will become clearer later.

Functions can serve as arguments of other functions.

In [15]:
def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def cube(x):
    return x**3

call(cube, 2)

8

To use a lambda function:

In [16]:
call(lambda x: x**3, 2)

8

### Function Recursion

A function can call itself, called **function recursion**.

In [17]:
def factorial(x):
    """A recursive function to calculate the factorial of an integer"""
    if x == 1:
        return 1
    else:
        return x * factorial(x-1)

In [18]:
factorial(5)

120

### Exercise

A **Fibonacci sequence** is the integer sequence of 0, 1, 1, 2, 3, 5, 8....

The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the *n*th term is the sum of (*n-1*)th and (*n-2*)th term.

Define a recursive function to display the *n*th term of the Fibonacci sequence.

In [19]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return fibo(n-1) + fibo(n-2)

## 1.3 Conditionals

`bool` is a type standing for booleans. It takes on one of two values: `True` and `False`.

In [20]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

Arithmetic comparisons

|Operation|Description|
|---|---|
|`a == b`|`a` equal to `b`|
|`a < b`|`a` less than `b`|
|`a <= b`|`a` less than or equal to `b`|
|`a != b`|`a` not equal to `b`|
|`a > b`|`a` greater than `b`|
|`a >= b`|`a` greater than or equal to `b`|

In [21]:
print(5.0 == 5)
print('5' == 5)

True
False

**Logical operators** can be used to combine boolean values: `and`, `or`, and `not`.

In [22]:
print(3>2 and 2<1)
print(3>2 or 2<1)
print(not 3>2)

False
True
False

In [23]:
True or True and False

True

`and` has a higher precedence than `or`. It is recommended to add paratheses to avoid confusion.

In [24]:
(True or True) and False

False

`if`-`elif`-`else` **conditional statements** (`elif` and `else` are optional)

In [25]:
def sign(x):
    if x == 0:
        print(x, 'is zero')
    elif x > 0:
        print(x, 'is positive')
    else:
        print(x, 'is negative')
sign(4)

4 is positive

**Ternary operators**, or conditional expressions, provide a *single line* substitute for the multiline `if`-`else` test.

In [26]:
a, b = 20, 10
a if a < b else b

10

### Exercise

Use ternary operators to write a one line function checking odd or even.

In [27]:
def even_odd(x):
    return 'even' if x % 2 ==0 else 'odd'

## 1.4 Lists, Tuples and Loops

**Lists** represent *ordered* sequences of values. The values can be of different date types.

In [28]:
my_info = [30, 'PhD', True]

[30, 'PhD', True]

In [29]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

'Mercury'

In [30]:
planets[0]
planets[-1]

'Neptune'

In [31]:
planets[2:4]

['Earth', 'Mars']

In [32]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [33]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [34]:
planets[1:6:2]

['Venus', 'Mars', 'Saturn']

In [35]:
planets[::-1]

['Neptune', 'Uranus', 'Saturn', 'Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']

In [36]:
len(planets)

8

In [37]:
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [38]:
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [39]:
"Saturn" in planets

True

List of lists:

In [40]:
hands = [
    ['2', 'Q', 'K'],
    ['2', 'A', '2'],
    ['10', 'A', 'J']
]
hands

[['2', 'Q', 'K'], ['2', 'A', '2'], ['10', 'A', 'J']]

In [41]:
hands[2][2]

'J'

**Tuples** are similar to lists except: 1) created with parentheses (optional) instead of squre brackets, 2) cannot be modified.

In [42]:
t = (1,2,3)

(1, 2, 3)

In [43]:
q = 1,2,3
q

(1, 2, 3)

In [44]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

Tuples are useful for functions to return multiple values.

In [45]:
def swap(a,b):
    return b, a
swap(3,0)

(0, 3)

**Loops** are used to execute some code repeatedly. `for` loop iterates over a list or a `range`.

In [46]:
for planet in planets:
    print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune Pluto

In [47]:
for i in range(10):
    if i%2==0: print(i)

0
2
4
6
8

In [48]:
for i in range(3,12,3):
    print(i)

3
6
9

`while` loop iterates until certain condition is met.

In [49]:
i = 4
while i > 0:
    print(i)
    i -= 1 # same as i = i - 1

4
3
2
1

**List comprehension** is super useful and one of Python's most popular features. It is used to construct a list in a concise yet clear way.

In [50]:
[i%2 for i in range(10)]

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [51]:
[i for i in range(10) if i%2 == 0]

[0, 2, 4, 6, 8]

In [52]:
['-' + planet.upper() + '-' for planet in planets if len(planet) < 6]

['-VENUS-', '-EARTH-', '-MARS-', '-PLUTO-']

### Exercise

Using `for` loop and list comprehension to each define a function that returns the number of positive numbers in a given list.

Test your functions with list:

In [53]:
test_list = [-1, 5, 2, -3, 0, 4]

In [54]:
def count_positive_for(nums):
    n_positive = 0
    for n in nums:
        if n > 0:
            n_positive += 1
    return n_positive

def count_positive_lc(nums):
    return len([n for n in nums if n > 0])  # alternatively: sum([n < 0 for n in nums])

In [55]:
print(count_positive_for(test_list))
print(count_positive_lc(test_list))

3
3

Define a function that returns elementwise comparison (greater than) of a list and a number. 

E.g., 
```elementwise_greater_than([-2, 3, 0, 2], 1)``` returns ```[False, True, False, True]```

In [56]:
def elementwise_greater_than(nums, n):
    return [num > n for num in nums]

elementwise_greater_than([-2, 3, 0, 2], 1)

[False, True, False, True]

## 1.5 Strings and Dictionaries

Python **strings** can be either single or double quoted. It may be convenient to use double quotes if the string contains a single quote character (e.g., an apostrophe) or quoted phrases.

In [57]:
print("Here's your ticket.")
print("The cat is named 'Kity'.")

Here's your ticket.
The cat is named 'Kity'.

Backslash and new line can be typed as `\\` and `\n`, respectively.

In [58]:
print("ab\\cd")
print("Hellow\nworld!")

ab\cd
Hellow
world!

Strings can be handled as lists of characters, so list functions like indexing and `len` work on strings.

In [59]:
s = "Earth"
s[1]

'a'

In [60]:
s[-3:]

'rth'

In [61]:
len(s)

5

A long string (e.g., a sentence) can be splitted into sub-strings (e.g., words) using `.split()`. It breaks on whitespace by default but other characters can be specified.

In [62]:
sen = "We are fighting COVID-19"
sen.split()

['We', 'are', 'fighting', 'COVID-19']

In [63]:
date = '20-05-2020'
d, m, y = date.split('-')
d, m, y

('20', '05', '2020')

In the opposite, `.join()` sews a list of sub-strings up into one long string.

In [64]:
'/'.join([d, m, y])

'20/05/2020'

In [65]:
' üëè '.join([word.upper() for word in ['welcome', 'to', 'Imperial']])

'WELCOME üëè TO üëè IMPERIAL'

We can also use `+` to concatenate strings. Non-string variables (like integers or floats) need to be converted to strings first.

In [66]:
sen + ' and we will win'

'We are fighting COVID-19 and we will win'

In [67]:
'There are ' + str(195) + ' countries in the world.'

'There are 195 countries in the world.'

**String formatting** is helpful in outputing properly formatted strings. More details are [here](https://pyformat.info/) and [here](https://realpython.com/python-formatted-output/).

In [68]:
print('{} {} cost ¬£{}'.format(6, 'bananas', 2.4))

6 bananas cost ¬£2.4

In [69]:
print('{0} {1} cost ¬£{2} because each {1} costs ¬£{3}'.format(6, 'bananas', 2.4, 0.4))

6 bananas cost ¬£2.4 because each bananas costs ¬£0.4

In [70]:
for i in range(3,8):
    print("{:6} {:6} {:6} {:6}".format(i, i**2, i**3, i**4))

     3      9     27     81
     4     16     64    256
     5     25    125    625
     6     36    216   1296
     7     49    343   2401

In [71]:
for i in range(3,8):
    print("{:<6} {:<6} {:<6} {:<6}".format(i, i**2, i**3, i**4))

3      9      27     81
4      16     64     256
5      25     125    625
6      36     216    1296
7      49     343    2401

In [72]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    'Pluto', pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

**Dictionaries** are *unordered* *key-value pairs*.

In [73]:
car = {'brand': 'Rolls-Royce',
       'model': 'Phantom',
       'year': 2005}
car

{'brand': 'Rolls-Royce', 'model': 'Phantom', 'year': 2005}

In [74]:
car['year']

2005

Changing or adding items are straightforward.

In [75]:
car['year'] = 2020
car['price'] = '¬£400,000'
car

{'brand': 'Rolls-Royce', 'model': 'Phantom', 'year': 2020, 'price': '¬£400,000'}

Loop to print keys or values:

In [76]:
for key in car:   # equivalent to: for key in car.keys()
    print(key, car[key], sep=': ')

brand: Rolls-Royce
model: Phantom
year: 2020
price: ¬£400,000

In [77]:
# Alternatively
for key, value in car.items():
    print(key, value, sep=':')

brand:Rolls-Royce
model:Phantom
year:2020
price:¬£400,000

In [78]:
# Print values
for value in car.values():
    print(value)

Rolls-Royce
Phantom
2020
¬£400,000

We can test whether something is in the dictionary's `keys` or `values`.

In [79]:
'brand' in car.keys()

True

In [80]:
2020 in car.values()

True

Remove items with `pop` or `del`. Empty the whole dictionary with `clear`.

In [81]:
car.pop('model')
car

{'brand': 'Rolls-Royce', 'year': 2020, 'price': '¬£400,000'}

In [82]:
del car['price']
car

{'brand': 'Rolls-Royce', 'year': 2020}

In [83]:
car.clear()
car

{}

Similar to *list comprehensions*, there is also **dictionary comprehensions** with `{}` instead of `[]`.

In [84]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
day_to_abbrev = {day: day[:3] for day in days}
day_to_abbrev

{'Monday': 'Mon',
 'Tuesday': 'Tue',
 'Wednesday': 'Wed',
 'Thursday': 'Thu',
 'Friday': 'Fri',
 'Saturday': 'Sat',
 'Sunday': 'Sun'}

### Exercise

Define a function to count the number of *case-insensitive* characters (character frequency) in a string.

Sample string: 'Imperial College London'

Expected result as a dictionary: 
{'i': 2,
 'm': 1,
 'p': 1,
 'e': 3,
 'r': 1,
 'a': 1,
 'l': 4,
 ' ': 2,
 'c': 1,
 'o': 3,
 'g': 1,
 'n': 2,
 'd': 1}

**Hint**: 
1. An empty dictionary can be defined by `{}`.
2. A string can be transformed to lower or upper case with `.lower()` or `.upper()`.

In [85]:
def char_frequency(string):
    res = {}
    for c in string.lower():
        res[c] = res[c] + 1 if c in res.keys() else 1
    return res

char_frequency('Imperial College London')

{'i': 2,
 'm': 1,
 'p': 1,
 'e': 3,
 'r': 1,
 'a': 1,
 'l': 4,
 ' ': 2,
 'c': 1,
 'o': 3,
 'g': 1,
 'n': 2,
 'd': 1}

## 1.6 Modules, Packages, Libraries

A **module** is a single file (with the suffix `.py`) containing Python function definitions and executable statements. It can be *imported* using `import`.

A **packages** is a collection of *modules* under a common namespace. It can be created by placing multiple modules in a directory with a special `__init__.py` module. For example, the module name `A.B` designates a module named `B` in a package named `A`. A package can contain *subpackages* that contain modules. An exemplary package:

```
sound/                          Top-level package
      __init__.py               Initialize the sound package
      formats/                  Subpackage for file format conversions
              __init__.py
              wavread.py        Modules...
              wavwrite.py
              aiffread.py
              aiffwrite.py
              auread.py
              auwrite.py
              ...
      effects/                  Subpackage for sound effects
              __init__.py
              echo.py
              surround.py
              reverse.py
              ...
      filters/                  Subpackage for filters
              __init__.py
              equalizer.py
              vocoder.py
              karaoke.py
              ...
```

Some examples on importing packages/modules:

- Import one module `import sound.effects.echo`
    - To use a function in this module: `sound.effects.echo.echofilter(input, output, delay=0.7, atten=4)`
    - Or: `from sound.effects import echo` and then simply `echo.echofilter(input, output, delay=0.7, atten=4)`
    - Or: `from sound.effects.echo import echofilter` to only import the function and then `echofilter(input, output, delay=0.7, atten=4)`
- Import a module/subpackage and give it a short name: `import` ... `as` ...
    - `import sound.effects.echo as s_echo` and then `s_echo.echofilter(input, output, delay=0.7, atten=4)`
- Import all modules/subpackages/functions: `from` ... `import *`
    - `from sound.effects import *` and then `echo.echofilter(input, output, delay=0.7, atten=4)`

In [86]:
import math as mt
mt.pi

3.141592653589793

In [87]:
from math import *
pi

3.141592653589793

Use function `dir` to get all names (of variables, functions, etc) a module defines.

In [88]:
print(dir(mt))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [89]:
type(pi)

float

**Libraries** do not have official definitions as **modules** and **packages**. When the latter are "published", people often refer to it as a library. Libraries can contain a package, multiple related packages,or simply be a single module.

Some famous libraries:
- **NumPy**: for scientific computing, also a multi-dimensional container of generic data.
- **Pandas**: for data analysis.
- **Seaborn**: for data visualization based on **matplotlib**.
- **Scikit-learn**: for machine learning.
- **TensorFlow** and **PyTorch**: for machine learning, especially deep learning.

We will then learn a few of the above.